//CSS reset
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  //Custom style
  //Colors
  $primary-color-bright-orange: hsl(31, 77%, 52%);
  $primary-color-dark-cyan: hsl(184, 100%, 22%);
  $primary-color-very-dark-cyan: hsl(179, 100%, 13%);
  $neutral-color-white: hsla(0, 0%, 100%, 0.75); //paragraphs
  $neutral-color-very-light-gray: hsl(0, 0%, 95%);  //background, headings, buttons

  //Font
  $font-size: 15px;
  $font-family-1: 'Lexend Deca', sans-serif;
  $font-family-2: 'Big Shoulders Display', cursive;
  $fw-regular: 400;
  $fw-bold: 700;

  @mixin border {
    border: 1px solid red;
  }

  body {
    font-family: $font-family-1;
    background-color: $neutral-color-very-light-gray;
    
    //Centring .cars div
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cars {
        display: flex;
        flex-direction: column;
        width: 20.5rem;
        height: 83rem;
        border-radius: 0.3rem;
        overflow: auto;

        .carType {
            line-height: 1.7;
            height: 33.3%;
            color: $neutral-color-white;
            display: flex;
            flex-direction: column;
            overflow: auto;
            padding: 2.9rem;
            gap: 1.2rem;

            .carIcon {
                width: 4.4rem;
                height: 2.5rem;
            }

            .carName {
                font-family: $font-family-2;
                font-size: 2.5rem;
                color: $neutral-color-very-light-gray;
                text-transform: uppercase;
            }

            .carDetails {
                font-size: 0.95rem;
            }

            .learnMoreBtn {
                text-transform: capitalize;
                font-size: 0.6rem;
                text-align: center;
                width: 9.2rem;
                background-color:$neutral-color-very-light-gray;
                text-decoration: none;
                padding: 1.1rem;
                border-radius: 2rem;
            }
        }
        .sedans {
            background-color: $primary-color-bright-orange;
            .learnMoreBtn {
                color: $primary-color-bright-orange;
            }
        }
        .suvs {
            background-color: $primary-color-dark-cyan;
            .learnMoreBtn {
                color: $primary-color-dark-cyan;
            }
        }
        .luxury {
            background-color: $primary-color-very-dark-cyan;
            .learnMoreBtn {
                color: $primary-color-very-dark-cyan;
            }
        }
    }
  }
